body {
	background: #CC6214 url('../images/crisp-paper-ruffles.png');
	color: #100742;
}

a {
	text-decoration: none;
	color: #100742;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: white;
	color: #100742;
	min-height: 100px;
	margin-top: 60px;
	font-family: 'Playfair Display', serif;
}

header h1 {
	padding: 40px 60px;
}


/* Nav styles */
nav { background-color: #333; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: #FFAC40; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #333;
	color: #FFAC40;
	text-align: center;
 }
 footer p { padding: 20px; }
